.entireForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.infoForm {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 30px auto;
    align-items: center;
}

.message {
    width: 50%; /* o más */
    background-color: #0B3D2E;
    color: white;
    border-radius: 30px;
    padding: 20px;
}

.entireForm textarea {
    height: 15vw;
    border-radius: 5px;
    padding: 20px;
    border: none;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.entireForm input {
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    border: none;
}

.textareaSide {
    width: 100%;
    text-align: center;
}

.textareaSide button {
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 90%;
}

@media (hover: hover) and (pointer: fine) {
    .textareaSide button:hover {
        background-color: bisque;
        cursor: pointer; 
    }
}