.footer {
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
}

.sendMessageButton {
    width: 30%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid bisque;
    margin: 20px auto;
}

.sendMessageButton:hover {
    background-color: bisque;
    cursor: pointer; 
}