.footer {
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
    border-top: 5px solid white;
    font-size: 0.8rem;
}

.footer h2 {
    margin-top: 2px
}

.contactFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sendMessageButton {
    width: 80%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid bisque;
    margin: 20px auto;
}

.sendMessageButton:hover {
    background-color: bisque;
    cursor: pointer; 
}

.contactFooterMobile {
    display: none;
}

@media (max-width: 768px) {
    .contactFooter {
        display: none;
    }

    .contactFooterMobile {
        display: block;
        padding-top: 20px;
    }
}